@mixin flex-align-items-center {
  display: flex;
  align-items: center;
}

.header {
  @include flex-align-items-center;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  img {
    height: 40px;
  }
  .menu {
    @include flex-align-items-center;
    justify-content: space-between;
    ul {
      @include flex-align-items-center;
      justify-content: start;
      a {
        padding-top: 10px;
        padding-bottom: 8px;
        padding-right: 60px;
        &:hover {
          border-bottom: 5px solid $theme-color;
          background: $theme-color-light;
        }
      }
    }
    .shopping-cart {
      margin-left: 19px;
    }
    img {
      height: 24px;
    }
  }
}

.banner {
  margin-bottom: 60px;
}

.title {
  background: $theme-color;
  color: $theme-color-light;
}

.content {
  display: flex;
  justify-content: space-between;
  .category {
    width: 300px;
    margin-right: 20px;
    text-align: center;
    font-size: $fs-4;
    h4 {
      display: block;
      height: 65px;
      line-height: 65px;
    }
    li {
      border: 1px solid $theme-color-light;
    }
    a {
      height: 65px;
      line-height: 65px;
      text-align: center;
      &:hover {
        background: $theme-color-light;
      }
    }
  }
  .product {
    display: flex;
    justify-content: space-between;
    width: 620px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    .product-info {
      margin-bottom: 10px;
      .product-img {
        position: relative;
        width: 300px;
        height: 315px;
        span {
          position: absolute;
          color: $theme-color-light;
          padding: 10px;
          writing-mode: vertical-rl;
          background: $theme-color;
          letter-spacing: 5px;
          left: 20px;
        }
        a {
          display: contents;
          img {
            position: absolute;
            height: fit-content;
            top: 19px;
            right: 22px;
          }
        }
      }
      .product-description {
        text-align: center;
        @include flex-align-items-center;
        justify-content: space-between;
        li {
          height: 56px;
          line-height: 56px;
          border-bottom: 1px solid $theme-color-light;
          border-right: 1px solid $theme-color-light;
          border-left: 1px solid $theme-color-light;
          font-size: $fs-5;
        }
        .product-name {
          flex-grow: 2;
        }
        .product-price {
          flex-grow: 1;
        }
      }
      a {
        text-align: center;
        height: 65px;
        line-height: 65px;
        font-size: $fs-3;
        background: $theme-color-light;
        &:hover {
          color: $theme-color-light;
          background: $theme-color;
        }
      }
    }
  }
}

.pagination {
  @include flex-align-items-center;
  justify-content: end;
  margin-top: 10px;
  text-align: center;
  font-size: $fs-5;
  li {
    border: 1px solid $theme-color-light;
    .previous {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_left.png?raw=true");
      background-repeat: no-repeat;
      background-position: center center;
    }
    .next {
      background-image: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/student-week1/arrow_right.png?raw=true");
      background-repeat: no-repeat;
      background-position: center center;
    }
    a {
      @include flex-align-items-center;
      justify-content: center;
      height: 60px;
      width: 60px;
      &:hover {
        background-color: $theme-color-light;
        color: $theme-color;
      }
    }
  }
}
